#sheet {
    border: 2px solid black;
}

body {
    text-align: center;
}

#points {
    color: black;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
}

div {
    text-align: center;
    justify-content: center;
}

#score {
    color: black;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
}